body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  perspective: 1000px;
}

.container {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  font-size: 1em;
  border: none;
  background: white;
  color: black;
}

iframe {
  width: 80%;
  height: 70vh;
  border: none;
  background: white;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: radial-gradient(white 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 1;
  transform: translateZ(-1px);
}
